/* 縦・横 共通 */
body {
  background: #ffffd9 url(../img/bg.png);
}

/* search */
.search-area {
  padding-top: calc(64/375*100vw);
}

.search-area form {
  text-align: center;
}

/* table */
table {
  margin-top: calc(15/375*100vw);
}

table * {
  box-sizing: border-box;
}

table tr.hidden {
  display: none;
}

table th {
  color: #fff;
  font-size: 8px;
  text-align: center;
  background: #f7852e;
  padding: 3px 10px;
}

table td {
  font-size: 10px;
  padding: 2px 5px;
}

/* 縦表示 */
/* @media screen and (orientation: portrait) { */
  body {
    background-size: 25%;
  }
  /* search */
  .search-area {
    padding-top: calc(20/375*100vw);
  }
  .search-area input[type="text"] {
    width: 60%;
    padding: calc(5/375*100vw);
    font-size: calc(20/375*100vw);
    border: 1px solid #D6D6D6;
  }
  table,
  table * {
    display: block;
    width: 100%;
  }
  table thead tr {
    display: flex;
    flex-wrap: wrap;
    background: #ffffd9;
    border: 5px solid #ffffd9;
  }
  table thead tr th {
    width: 50%;
    font-size: calc(12/375*100vw);
    border: 1px solid #ffffd9;
    border-radius: 10px;
  }
  table tbody {
    height: 50vh;
    overflow: scroll;
  }
  table tbody tr {
    border: 10px solid #ffffd9;
    background: #fff;
  }
  table tbody tr td {
    min-height: 1.6em;
    font-size: calc(12/375*100vw);
  }
  table tbody tr td:nth-child(even) {
    background: #f6e9e0;
  }
  table tbody tr td:nth-child(1)::before {
    content: '分類：';
  }
  table tbody tr td:nth-child(2)::before {
    content: 'メーカー：';
  }
  table tbody tr td:nth-child(3)::before {
    content: '商品名：';
  }
  table tbody tr td:nth-child(4)::before {
    content: '1個(g)：';
  }
  table tbody tr td:nth-child(5)::before {
    content: '備考：';
  }
  table tbody tr td:nth-child(6)::before {
    content: '含有量(mg)：';
  }
  table tbody tr td:nth-child(7)::before {
    content: 'レベル：';
  }
/* } */






































/* 横表示 */
/* @media screen and (orientation: landscape) {
  body {
    background-size: 20%;
  }

  /search/
  .search-area {
    padding-top: calc(18/375*100vw);
  }
  .search-area input[type="text"] {
    padding: calc(5/375*100vw);
    font-size: calc(16/375*100vw);
    border: 1px solid #D6D6D6;
  }

  #table {
    overflow: scroll;
  }
  table {
    border-collapse: collapse;
    background: #fff;
  }
  table tr,
  table th,
  table td {
    border: 1px solid #000;
  }
} */